.EditLodge {
  display: flex;
  flex-direction: column;
}

.EditLodge h2 {
  background-color: var(--alameda-ochre);
  color: #fff;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  position: sticky;
  top: 78px;
  z-index: 20;
}

.InputControl {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  background-color: var(--swan-white);
  padding: 10px;
}

.EditLodge input {
  border-radius: 5px;
  padding: 10px;
  margin-left: 20px;
  border: none;
  background-color: var(--alameda-ochre);
  color: #fff;
  opacity: 0.8;
  transition: opacity 200ms;
  text-transform: capitalize;
}

.EditLodge input:focus {
  outline: none;
  opacity: 1
}

.EditLodge input::placeholder {
  color: var(--opaque-white)
}

.EditLodge>* {
  margin-bottom: 10px
}

.InputContainer {
  border-radius: 5px;
  margin-left: 20px;
  border: none;
  opacity: 0.8;
  transition: opacity 200ms;
  text-transform: capitalize;
}

.InputContainer button {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
  opacity: 0.6;
  transition: opacity 200ms;
  background-color: var(--palm-springs-splash);
  border-radius: 5px;
}

.Buttons {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.Buttons button {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
  opacity: 0.6;
  transition: opacity 200ms
}

button:hover {
  cursor: pointer;
  opacity: 1;
}

.Buttons button:disabled, .InputContainer button:disabled {
  opacity: 0.1;
  cursor: not-allowed;
}

.editButton {
  background-color: var(--palm-springs-splash);
}

.deleteButton {
  background-color: var(--eye-of-newt);
}

.previousButton {
  background-color: var(--devil-blue);
}