.AllLodges h2 {
  background-color: var(--alameda-ochre);
  color: #fff;
  padding: 10px;
  text-transform: capitalize;
  display: grid;
  grid-template-columns: 1em 1fr 1em;
  position: sticky;
  top: 78px;
  z-index: 20;
}

.AllLodges h2 span i {
  transform: translateY(2px);
  transition: color 200ms;
}

.AllLodges h2 span i:hover {
  cursor: pointer;
  color: var(--opaque-white)
}

.AllLodges h2 span:nth-child(2) {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.searchContainer {
  display: flex;
  width: auto;
}

.searchInput {
  padding: 5px;
  border: none;
  border-radius: 5px;
  text-transform: capitalize;
  margin-left: 10px;
  width: auto;
  transition: transform 200ms;
}

.searchInput:focus {
  outline: none
}

.searchInput.hide {
  transform: translateX(-150%)
}

.NoData {
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}